body {
  background-color: #182B3B;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
}

.map-container {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.map-image {
  width: 90%;
  max-width: 1000px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

/* Áreas clicáveis */
.area {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.15);
  border: 2px solid #fff;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  padding: 5px 10px;
  cursor: pointer;
  transition: 0.3s;
}

.area:hover {
  background-color: rgba(207, 15, 15, 0.8);
  transform: scale(1.1);
}

/* Coordenadas aproximadas (ajuste conforme o mapa real) */
.galwich { top: 38%; left: 39%; }
.ugeath { top: 46%; left: 59%; }
.hawbensburg { top: 64%; left: 48%; }
.ledgespring { top: 72%; left: 48%; }


/* Botão Saiba */
.btn-saiba {
  position: absolute;
  bottom: 40px;
  left: 40%;
  transform: translateX(-50%);
  background-color: #cf0f0f;
  color: white;
  border: none;
  padding: 10px 25px;
  font-size: 1.1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}
.btn-voltar {
  position: absolute;
  bottom: 40px;
  left: 52%;
  transform: translateX(-50%);
  background-color: #cf0f0f;
  color: white;
  border: none;
  padding: 10px 25px;
  font-size: 1.1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-saiba:hover {
  background-color: #ff3333;
  transform: translateX(-50%) scale(1.05);
}

/* Tutorial */
.tutorial {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  color: #182B3B;
  border-radius: 12px;
  padding: 30px;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
  width: 90%;
  max-width: 500px;
  text-align: center;
  z-index: 10;
}

.tutorial.hidden {
  display: none;
}

.tutorial button {
  background-color: #182B3B;
  color: #fff;
  border: none;
  padding: 8px 20px;
  border-radius: 6px;
  margin-top: 15px;
  cursor: pointer;
}

.tutorial button:hover {
  background-color: #cf0f0f;
}
