body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background: #222;
  color: #fff;
}

h1 {
  margin-bottom: 20px;
}

.memory-game {
  width: 420px;
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-gap: 10px;
}

.card {
  width: 100px;
  height: 100px;
  background: #444;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  cursor: pointer;
  transform: scale(1);
  transition: transform 0.3s;
  color: white;
}

.card:active {
  transform: scale(0.95);
}

.card.flipped {
  background: #fff;
  color: #000;
}

.hidden {
  visibility: hidden;
}
