.quiz-page {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #222;
  color: #fff;
}

.quiz-container {
  max-width: 600px;
  text-align: center;
  background: #333;
  padding: 20px;
  border-radius: 10px;
}

button {
  padding: 12px 24px;
  margin: 10px;
  border: none;
  border-radius: 8px;
  background: #cf0f0f;
  color: white;
  cursor: pointer;
  font-size: 1rem;
}

button:hover {
  background: #a00c0c;
}

.hidden {
  display: none;
}

#options button {
  display: block;
  width: 100%;
  margin: 10px 0;
}

#feedback {
  margin-top: 15px;
  font-weight: bold;
}

.correct {
  color: lightgreen;
}

.wrong {
  color: red;
}

.status-bar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.back-btn {
  margin-top: 30px;
  background: #555;
}

.back-btn:hover {
  background: #777;
}
